@model IEnumerable<EscolaProjeto.Models.Materia>

@{
    ViewData["Title"] = "Index";
}

<h2>Existem @ViewBag.Quantidade de Materias cadastrados.</h2>
<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="SeachString">Procure aqui: </label>
        <input type="text" class="form-control" name="SeachString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>
<p>
    <a asp-action="Create" class="btn btn-primary btn-lg">Cadastrar Nova Materia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Materias
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professor)
            </td>
            <td>
                    <a asp-action="Edit"class="btn btn-outline-info" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" class="btn btn-outline-info" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
