@model IEnumerable<EscolaProjeto.Models.Turma>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create" class="btn btn-primary btn-lg">Cadastrar nova Turma</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Escola.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materia.Name)
            </td>


                <td>
                    <a asp-action="Edit" class="btn btn-outline-info" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" class="btn btn-outline-info" asp-route-id="@item.Id">Deletar</a>
                </td> 
        </tr>
}
    </tbody>
</table>
